# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\NCSISTDP-master\pHash\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
